/* Customize your main colors in :root variables */
:root {
  --main-background-color: #0097d9;
  --card-background-color: rgba(0 0 0 0);
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;

}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}
.banner {
    background-image: url("frog-wall.png");
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 310px;
   
}

@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }
    .banner {
        background-size: cover;
    }
}



